@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*     
font-family: 'Nunito Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
        color: #792d78;

 */

 /* #image-head {
     width: 3%;
     height: auto;

 } */